################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BondConverter/obj/Debug
/BondConverter/bin/Debug
*.user
/BondConverterTest/bin/Debug
/packages
/BondConverterTest/obj/Debug
/.vs/BondConverter/v14/.suo
